html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 41, 43);
    align-items: center;
    justify-content: center;
    color: white;
}
 

.body {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 50%;
    height: 50%;
    color: black;
 
}

.number-buttons {
    display: grid;
    place-items: center;
    margin: 10%;
    height: 300px;
    width: 250px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4);
    gap: 1px;
    background-color: black;
    border-radius: 5%;
    overflow: hidden;
}

.num-button{
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    color: white;
    font-size: x-large;
    
}

.form {
    width: 100%;
    height: 130%;
    transform: translateY(-4px);
    padding: 0px;
    margin: 0;
}
.input {
    width: 100%;
    height: 100%;
    font-size: x-large;
    text-align: right;
    padding: 0;
    outline: none;
    background-color: #372f28;
    color: white;
    border: none;
}